body {
    /* margin: 100px; */
    background: #eee;
    font-family: Verdana;
}

/* card */
.card {
    width: 240px;
    height: 270px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    perspective: 1400px;
    left: 0;
    top: 0;
    transition: all 1s;
    /* background-color: rgba(0, 0, 0, 0); */
}

/* left card */
.left-card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;

    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: 0 0;
}

.left-card img {
    width: 100%;
}

.left-card .card-front,
.left-card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.left-card .card-front .flip-text {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 5px;
}

.left-card .card-back {
    background: #f4f4f4;
    transform: rotateX(-180deg);
}

/* open card */
.card.open .left-card {
    transform: rotateX(180deg);
}

.card.open {
    top: 300px;
}

/* right card */
.right-card {
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    color: #444;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    background-image: url("right-card-background.webp");
    background-size: cover;
    background-position: center;
}

.right-card h2 {
    color: crimson;
}

.right-card .background-picture {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    max-width: 100%;
    max-height: 100%;
    z-index: 0;
}

.right-card .firm {
    color: darkblue;
}

.snowflakes {
    /* background-color: white; */
    opacity: 0.7;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.snowflakes:before,
.snowflakes:after {
    content: "";
    position: absolute;
    top: -50%;
    left: 50%;
    z-index: -1;
}

.snowflakes:before {
    left: -50%;
}

.snowflake {
    font-size: 10px;
    color: white;

    animation: falling 10s infinite;

    position: relative;
    width: 100%;
    height: 100%;

    top: 0;

    /* z-index: 999; */

    background-color: rgba(0, 0, 0, 0);
}

@keyframes falling {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}

#audio-btn {
    position: absolute;
    top: 10;
    left: 10;
}

#notes-icon {
    background: #eee;
    position: absolute;
    top: 10;
    left: 10;
    width: 30px;
    height: 30px;
}
